/*
  Rui Santos
  Complete project details at https://RandomNerdTutorials.com/esp32-mpu-6050-web-server/

  Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files.
  The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
*/

html {
  font-family: Courier New;
  display: inline-block;
  text-align: center;
  background-color: black
}
p {
  font-size: 1.2rem;
}
body {
  margin: 0;
}
.topnav {
  overflow: hidden;
  background-color: teal;
  color: lightcyan;
  font-size: medium;
  border-radius: 3px;
}
.content {
  padding: 20px;
}
.card {
  background-color: darkcyan;
    border-radius: 10px;
/*  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);*/
}
.card-title {
  color:lightcyan;
  font-weight: bold;
}
.cards {
  max-width: auto;
  color:lightcyan;
  margin: 0 auto;
  display: grid; grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.reading {
  color:lightcyan;
  font-size: 1.2rem;
}
.cube-content{
  width: 95%;
  background-color: black;
  height: 300px; margin: auto;
  padding-top:2%;
  color: aqua;
}
#reset{
  margin-top: 50px;
  border: none;
  color: teal;
  font-family: Courier New;
  background-color: lightcyan;
  padding: auto;
  text-align: center;
  display: inline-block;
  font-size: 20px; width: auto;
  border-radius: 4px;
}